.details-card-und-container {
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

span {
  font-weight: 900;
}
