.main {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 90px auto;
    text-align: center;
    font-size: 2.2rem;
    color: var(--scnd-color);
  }
  
  form {
    height: 100%;
    max-height: 540px;

    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .error {
      border: 2px solid var(--error-stroke);
      border-radius: 4px;
      background-color: var(--error);
      color: var(--error-stroke);
      padding: 12px;
      text-align: center;
      margin-bottom: 10px;
    }

    label {
      h6 {
        font-size: 1.1rem;
        color: var(--scnd-color)
      }

      input {
        font-size: 1.3rem;
        border: 1px solid var(--strokes);
        padding: 8px 12px;
        width: 100%;
        margin-bottom: 28px;
      }
    }

    .customCheckbox {
      width: 80%;
      margin-bottom: 20px;

      input {
        display: none;
      }

      label {
        font-size: 1.4rem;
        color: var(--scnd-color);
      }

      input + label:before {
        content: '';
        cursor: pointer;

        width: 24px;
        height: 24px;
        padding-left: 5px;
        padding-bottom: 5px;
        border-radius: 4px;
        background-color: white;
        border: 2px solid var(--strokes);

        display: inline-block;
        vertical-align: bottom;
        margin-right: 20px;
      }

      input:checked + label:before {
        content: '\2713';
        color: white;
        border-color: var(--trybe);
        font-weight: bold;
        background-color: var(--trybe);
      }
     }

    .signup {
      width: 100%;
      margin-top: 24px;

      background-color: transparent;
      border: 2px solid var(--trybe);
      border-radius: 4px;
      padding: 6px;   

      color: var(--trybe);
      font-size: 1.2rem;
      font-weight: 700;
      transition: 0.1s ease-in-out;

      &:hover {
        background-color: var(--trybe);
        color: white;
      }

      &:disabled {
        cursor: not-allowed;
        border: 2px solid tomato;
        color: tomato;

        &:hover {
          background-color: tomato;
          color: white;
        }
      }
    }

    .newAcc {
      width: 100%;
      border: none;
      color: var(--trybe);
      background-color: transparent;
      margin-top: 48px;

      &:hover {
        filter: brightness(80%);
      }
    }
  } 
}