.headerContainer {
  height: 1rem;

  padding: 1rem 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white
}

.headerContainer .spanName {
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
}