.headerContainer {
  height: 1rem;

  padding: 1rem 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff7e6;
  background-color:  #3d1301;
}

.headerContainer .spanName {
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
    font-size: large;
}