.login-page {
  background-color: #FBC248;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EDE4D7;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.btn-login, .btn-generic {
  background-color: #8BACDC!important;
  color: #EDE4D7!important;
}

.btn-create {
  background-color: #5E3E31!important;
  color: #EDE4D7!important;
}

.logo {
  margin-left: 100px;
}