.products-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #EDE4D7;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products {
  margin: 100px 3%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.card {
  width: 300px;
  background-color: rgb(237, 228, 215, 0.8)!important;
  color: #20181A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card, .card:hover, .card:focus, .card:active {
  text-decoration: none;
  color: #20181A;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
}

.qtd-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.qtd-button-container button {
  background-color: #FBC248;
  border-radius: 50%;
  border: none;
  height: 40px;
}

.qtd {
  background-color: white;
  padding: 3px 10px;
  border-radius: 10%;
}

.checkout-bottom-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #8BACDC;
  color: #EDE4D7;
  border: none;
  width: 100%;
}

.checkout-bottom-btn:disabled {
  opacity: 0.5; 
}

.admin-container {
  margin-top: 100px;
  margin-left: 350px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #20181A;
}

.adm-title {
  display: flex;
  flex-direction: column;
}

.adm-total {
  align-self: flex-end;
}

.order-data {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.Entregue {
  color: green;
}

.Pendente {
  color: red;
}

.order-date {
  align-self: flex-end;
}