.products-page {
  background-color: #20181A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #EDE4D7;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 2em;
}

.card {
  width: 300px;
  background-color: rgb(237, 228, 215, 0.8)!important;
  color: #20181A;
  display: flex;
  align-items: center;
  padding: 10px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
}

.qtd-button-container button {
  border-radius: 50%;
  border: none;
}

.qtd-first-button {
  margin-right: 10px;
}

.qtd {
  background-color: #EDE4D7;
  padding: 3px 10px;
  border-radius: 10%;
}

.checkout-bottom-btn {
  background-color: #D07A2D;
  color: #EDE4D7;
  margin-bottom: 20px;
  margin-right: 2em;
  border: none;
}

.checkout-bottom-btn:disabled {
  opacity: 0.5; 
}