header {
  padding: 10px 10px;
}

header .navigation {
  display: none;
}

header .navigation.active {
  width: 100%;
  height: calc(100% - 68px);
  position: fixed;
  top: 68px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  list-style: none;
  z-index: 10000;
}

/* header .navigation li {
  margin-left: 0;
} */

/* header .navigation li a {
  color: #111;
  font-size: 1.1em;
} */

header .menuToggle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

header .menuToggle.active {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  z-index: 10001;
}

.menuItem {
  margin-bottom: 1.2rem;
}

.leave {
  margin-top: 5rem;
}
