@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.hamburger-btn {
  width: 60px;
}
.hamburger-icon {
  width: 100%;

}
.side-bar {
  visibility: hidden;
}
.title {
  font-family: 'Roboto';
  font-size: 35px;
  margin-left: 3rem;
}
.top-bar-container {
  display: flex;
  margin-bottom: 100px;
  width: 100%;
}
