* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(97, 87, 87);
  padding: 12px;
}

.header h2 {
  color: #ddd;
  font-family: sans-serif;
  text-align: center;
}

.header .menuHide,
.header .menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  left: 10px;
  z-index: 15;
  transition: 0.4s ease-in-out;
}

.header .menuHide div,
.header .menu div {
  width: 28px;
  height: 4px;
  background-color: #ddd;
  margin-top: 5px;
}

.header .menu {
  left: 170px;
  transition: 0.4s ease-in-out;
}

.header .menuInfoHide,
.header .menuInfo {
  color: #242424;
  background-color: rgb(97, 87, 87);
  position: absolute;
  list-style-type: none;

  margin-left: -40px;
  left: -170px;
  padding-bottom: 2vh;
  z-index: 10;
  transition: 0.4s ease-in-out;
}

.header .menuInfo {
  left: 40px;
}

.header .menuInfoHide li,
.header .menuInfo li {
  padding: 5px 10px;
}

.header .menuInfoHide li:first-child,
.header .menuInfo li:first-child {
  margin-top: 50px;
}

.header .menuInfoHide li:last-child,
.header .menuInfo li:last-child {
  margin-top: 60vh;
}

.header li button {
  width: 100%;

  border: 3px solid grey;
  color: white;
  background-color: inherit;
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
}

.header li button:hover {
  background-color: grey;
}
