.product-card {
  border: 1px solid var(--box-shadow);
  border-radius: 4px;
  box-shadow: 0 0 4px var(--box-shadow);
  color: var(--text-primary);
  display: flex;
  max-width: 350px;
  padding: 10px;
  width: 100%;
}

.product-card > header {
  height: 200px;
  max-width: 200px;
  overflow: hidden;
  width: 100%;
}

.product-card > header > img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.product-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 15px;
}

.product-details > h1 {
  font-size: 1.2rem;
  margin: 0;
}

.product-actions {
  align-items: center;
  display: flex;
  gap: 10px;
}

.product-actions > button {
  background: transparent;
  border: 0;
  color: var(--text-primary);
  font-size: 1.5rem;
  height: 32px;
  width: 32px;
}

.product-actions > .button-add-inactive {
  color: var(--text-secondary);
}
