.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 25vw;
  margin-top: 5vw;
}

.email-input-label, .password-input-label {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  margin: 1vw 20vw;
}

.email-input, .password-input {
  padding: 2vw;
  width: 60vw;
}

.signin-btn {
  background-color: #1CD118;
  cursor: pointer;
  font-size: 3vw;
  padding: 1vw;
  margin: 2vw 20vw;
}

.no-account-btn {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 3vw;
  margin: 0 20vw;
  padding: 1vw;
}

@media (max-width: 1366px) {
  .menu-top-container {
    background-color: #100F0F;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
  }
  
  .menu-hamburger {
    background-color: #100F0F;
    border: 1px solid #FFFFFF;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-bottom: 1vw;
    width: 4.5vw;
    height: 3.5vw;
  }
  
  .span-menu-hamburger {
    align-items: center;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.4vw;
    margin-left: 0.9vw;
    width: 1.5vw;
  }
  
  .span-menu-1{
    margin-top: 1vw;
  }
  
  .page-title {
    margin-top: 2vw;
    margin-bottom: 3vw;
  }

  .side-menu-container {
    background-color: #100F0F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 45vw;
  }

  .side-menu-link {
    display: flex;
    flex-direction: column;
  }

  .sidebar-link, .sidebar-logout {
    align-items: center;
    background-color: #181717;
    border: 1px solid #FFFFFF;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    height: 5vw;
    margin: 2vw 0;
    text-decoration: none;
  }
}