.header {
  align-items: center;
  background-color:black;
  color:white;
  display: fixed;
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  top:0;
  width: 100%;
}

.side-menu-container {
  align-items: center;
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  width: 25%;
}

.hameburgerButton {
  background-color: black;
  color: white;
  border: 0px;
}

.itensHamburguer {
  background-color: black;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 30px;
}

.linksHamburguer {
margin: 20px;
text-decoration: none;
color: white;
}

.buttonLogOut {
  background-color: black;
  font-size: 30px;
  
}

.products-checkout {
  align-items: center;
  display: flex;
  justify-content: space-around;
}