* {
  box-sizing: border-box;
}

:root {
  --box-border: #DDD;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --error: #D62839;
  --primary-color: #E3B505;
  --text-primary: #333;
  --text-secondary: #666;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
