body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  display: flex-box;
  margin-left: 15px;
  margin-top: 60px;
  margin-right: 15px;
}

.nav-list {
  margin-top: 2px;
}

.button-burguer {
  background-color: transparent;
  border: none;
}

.start-component {
  margin-top: 68px;
}
