.main {
  max-width: 1024px;
  margin: 0 auto;
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 4px 2px 20px 5px var(--strokes);
    border-radius: 8px;

    table {
      width: 100%;


      thead th {
        color: var(--prmy-color);
        text-align: left;
        padding: 12px;
      }

      tbody td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
      }

      img {
        height: 100px;
      }

      strong {
        color: var(--prmy-color);
        display: block;
      }
      
      span {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        font-weight: 700;
      }

      div {
        display: flex;
        align-items: center;

        input {
          border: 1px solid var(--strokes);
          border-radius: 4px;
          color: var(--prmy-color);
          padding: 6px;
          width: 40px;
        }

        button {
          background: none;
          border: 0;
          padding: 6px;
        }
      }
    }

    form {
      label {
        h4 {
          margin-top: 12px;
          color: var(--scnd-color);
          font-size: 1.1rem;
        }
  
        input {
          border: 1.5px solid var(--strokes);
          padding: 8px;
          width: 50%;
  
          font-family: 'Robot condensed', sans-serif;
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
    }

    footer {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      

      button {
        background-color: transparent;
        border: 2px solid var(--beer);
        border-radius: 4px;
        padding: 8px 12px;

        color: var(--beer);
        font-size: 1.4rem;
        font-weight: 700;
        transition: 0.1s ease-in-out;

        &:hover {
          background-color: var(--beer);
          color: white;
        }
      }

      button:disabled {
        border: 2px solid tomato;
        color: tomato;
        cursor: not-allowed;
        
        &:hover {
          background-color: tomato;
          color: white;
        }
      }
    }
  }

  .total {
    display: flex;
    align-items: baseline;

    span {
      color: var(--scnd-color);
      font-weight: bold;
    }

    strong {
      font-size: 1.7rem;
      margin-left: 5px;
      color: var(--prmy-color);
    }
  }
}

