.order-card-und-container {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h2, h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

h3 {
  text-align: center;
  margin: 5px 0;
  padding: 0;
  font-size: 1.3rem;
}

.order-card-pendente {
  color: yellowgreen;
}

.order-card-entregue {
  color: green;
}

button:hover {
  background-color: yellow;
}
