@font-face {font-family: "FF Tisa"; src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot"); src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff") format("woff"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.svg#FF Tisa") format("svg"); }
@font-face {font-family: "LuloCleanW01-OneBold"; src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot"); src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold") format("svg"); }
@font-face {font-family: "ITCMedeaW01-ExtraBold"; src: url("//db.onlinewebfonts.com/t/661bf1532b87a1df22906f51cfe17e93.eot"); src: url("//db.onlinewebfonts.com/t/661bf1532b87a1df22906f51cfe17e93.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/661bf1532b87a1df22906f51cfe17e93.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/661bf1532b87a1df22906f51cfe17e93.woff") format("woff"), url("//db.onlinewebfonts.com/t/661bf1532b87a1df22906f51cfe17e93.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/661bf1532b87a1df22906f51cfe17e93.svg#ITCMedeaW01-ExtraBold") format("svg"); }

.header {
  background-color: rgb(25, 25, 25);
  color: white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.header-title {
  margin: auto 0;
  padding: 10px 10px;
}

.header-title-trybeer {
  font-family: 'LuloCleanW01-OneBold', monospace;
  font-weight: 700;
}

h1, h3 {
  margin: 0;
}

.side-menu-container {
  display: flex;
  justify-content: space-around;
}

.nav-item, .logoff-button {
  cursor: pointer;
  margin: auto 30px;
}

.nav-close, .menu-button {
  padding: 5px 25px;
}

.menu-button, .nav-close, .nav-complement {
  visibility: hidden;
}

@media only screen and (orientation:portrait){
  .header-title {
    font-size: 30px;
    margin: auto;
  }
  
  .side-menu-container {
    background-color: rgb(25, 25, 25);
    box-shadow: -1px -1px 15px #222;
    display: block;
    height: 100%;
    margin: 0;
    outline: none;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.5s ease;
    width: 75%;
    z-index: 2;
  }

  .nav-complement {
    background-color: black;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    z-index: 1;
  }

  @keyframes fadeIn {
    from {
      visibility: hidden;
    }
    to {
      visibility: visible;
    }
  }

  @keyframes fadeOut {
    from {
      visibility: visible;
    }
    to {
      visibility: hidden;
    }
  }

  .nav-complement-hide {
    animation: 0.5s fadeOut;
    animation-fill-mode: forwards;
  }

  .nav-complement-show {
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0.5;
  }

  .show-menu {
    right: 0;
  }

  .nav-close {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 30px;
    text-align: right;
  }

  .nav-item, .logoff-button {
    font-size: 30px;
    margin: 20px 25px;
    text-align: left;
  }

  .logoff-button {
    margin-bottom: 50px;
    margin-top: 80%;
  }

  .menu-button {
    display: block;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 37px;
    margin: auto 0;
    padding: 0px 0px;
    text-align: right;
    transform: translateX(12%);
  }

  .menu-button, .nav-close {
    cursor: pointer;
    visibility: visible;
  }
}
